

body {
  font-family: Arial, sans-serif;  
  background: #f0f4f8;
}

.header {
  background-color: #00c0a3;
  color: white;
  border-radius: 10px;
}

#head {
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

#bottomhead {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.container {
  background: white;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 400px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  cursor: pointer;
}

.tabs div {
  padding: 10px 20px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.tabs .active {
  border-color: #00896f;
  color: #00896f;
}

form {
  display: none;
  flex-direction: column;
}

form.active {
  display: flex;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#submitbtn {
  background-color: #00896f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

#submitbtn:hover {
  background-color: #b0a8b9;
}

#punchinbtn {
  background-color: #00896f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 25px;
}


#punchoutbtn {
  background-color: #dc0606;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 25px;
}

#adminbtn {
  background-color: #00896f;
  color: white;
  /* padding: 10px; */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  /* font-size: 10px; */
}

#admindiv {
  justify-content: center;
  display: flex;
  align-items: center;
  /* margin-top: 1px; */
}